version: '3.8'

services:
  # --- 1. Go Application (LogPulse) ---
  app:
    image: logpulse:v1
    #container_name: logpulse-app
    restart: always
    build:
      context: ..
      dockerfile: Dockerfile
    depends_on:
      - mysql
      - kafka
      - redis
      - elasticsearch
    environment:
      SERVER_PORT: 8080
      # MySQL Config
      DB_HOST: mysql
      DB_PORT: 3306
      DB_USER: user
      DB_PASSWORD: password
      DB_NAME: logpulse_db

      # Redis Config
      REDIS_ADDR: redis:6379

      # Kafka Config
      KAFKA_BROKERS: kafka:29092
      KAFKA_TOPIC: logs_topic

      # Elasticsearch Config
      ELASTICSEARCH_ADDRESS: http://elasticsearch:9200

    networks:
      - logpulse-net

    deploy:
      replicas: 3

  # --- 2. MySQL ---
  mysql:
    image: mysql:8.0
    container_name: logpulse-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: logpulse_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "${DB_PORT:-3306}:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - logpulse-net
    command: --default-authentication-plugin=mysql_native_password

  # --- 3. Redis ---
  redis:
    image: redis:7-alpine
    container_name: logpulse-redis
    restart: always
    ports:
      - "${REDIS_PORT:-6379}:6379"
    volumes:
      - redis_data:/data
    networks:
      - logpulse-net
    command: redis-server --appendonly yes

  # --- 4. Zookeeper ---
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: logpulse-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - logpulse-net

  # --- 5. Kafka ---
  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: logpulse-kafka
    depends_on:
      - zookeeper
    ports:
      - "${KAFKA_PORT:-9092}:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_NUM_PARTITIONS: 3
    networks:
      - logpulse-net
    volumes:
      - kafka_data:/var/lib/kafka/data

  # --- 6. Elasticsearch (Search Engine) ---
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
    container_name: logpulse-es
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false # Disable security for local dev simplicity
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m" # Critical: Limit Heap Size to 512MB
    ports:
      - "${ES_PORT:-9200}:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    networks:
      - logpulse-net

  # --- 7. Kibana (Visualization UI) ---
  kibana:
    image: docker.elastic.co/kibana/kibana:8.11.1
    container_name: logpulse-kibana
    depends_on:
      - elasticsearch
    ports:
      - "${KIBANA_PORT:-5601}:5601" # Default to 5601, can be overridden
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    networks:
      - logpulse-net

  # --- 8. Nginx (Reverse Proxy) ---
  nginx:
    image: nginx:alpine
    volumes:
      - ../nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - app
    networks:
      - logpulse-net

volumes:
  mysql_data: {}
  redis_data: {}
  es_data: {}
  zookeeper_data: {}
  zookeeper_log: {}
  kafka_data: {}

networks:
  logpulse-net:
    driver: bridge
