services:
  mysql:
    image: mysql:8.0
    container_name: logpulse-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: logpulse_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - logpulse-net
    command: --default-authentication-plugin=mysql_native_password

  redis:
    image: redis:7-alpine
    container_name: logpulse-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - logpulse-net
    command: redis-server --appendonly yes

volumes:
  mysql_data:
  redis_data:


networks:
  logpulse-net:
    driver: bridge
