name: CI Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  quality-check:
    name: Lint & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25' 

      - name: Install Dependencies
        run: go mod download

      - name: Run Linter (Code Police)
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest

      - name: Run Unit Tests
        run: go test ./... -v

  build-check:
    name: Build Check
    runs-on: ubuntu-latest
    needs: quality-check 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25'

      - name: Build Binary
        run: go build -v ./cmd/api/main.go