name: CD Pipeline

on:
  push:
    branches: [ "master" ] # only push to master branch

jobs:
  push_to_registry:
    name: Push Docker Image
    runs-on: ubuntu-latest
    # ensure CI passed before execution
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/logpulse:latest
            ${{ secrets.DOCKER_USERNAME }}/logpulse:${{ github.sha }}